.vscode/
db.sqlite3
secrets.json
.mysqlsecrets
.static_root
templates copy
crawling/2022*/
crawling/*.txt
crawling/*.pickle
crawling/test*
crawling/tmp*
crawling/data/*
__pycache__/
venv/
crawling/.cache/

.DS_Store
