<div class="container position-sticky z-index-sticky top-0">
  <div class="row">
    <div class="col-12">
      <!-- Navbar -->
      <nav
        class="navbar navbar-expand-lg  blur border-radius-xl mt-4 top-0 z-index-3 shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
        <div class="container-fluid px-0">
          <a class="navbar-brand font-weight-bolder px-2" href="/" rel="tooltip" title="지구 일기장 메인화면"
            data-placement="bottom">
            지구 일기장
          </a>
          <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse"
            data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon mt-2">
              <span class="navbar-toggler-bar bar1"></span>
              <span class="navbar-toggler-bar bar2"></span>
              <span class="navbar-toggler-bar bar3"></span>
            </span>
          </button>
          <div class="collapse navbar-collapse pt-3 pb-2 py-lg-0 w-100" id="navigation">
            <ul class="navbar-nav navbar-nav-hover ms-auto">
              <li class="nav-item dropdown dropdown-hover mx-2">
                <a class="nav-link ps-2 d-flex cursor-pointer align-items-center" id="dropdownMenuPages"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="material-icons opacity-6 me-2 text-md">dashboard</i>
                  NEWS
                  <img src="{{ ASSETS_ROOT }}/img/down-arrow-dark.svg" alt="down-arrow" class="arrow ms-auto ms-md-2">
                </a>
                <div class="dropdown-menu dropdown-menu-animation ms-n3 dropdown-md p-3 border-radiu  s-xl mt-0 mt-lg-3"
                  aria-labelledby="dropdownMenuPages">
                  <div class="d-none d-lg-block">
                    <h6 class="dropdown-header text-dark font-weight-bolder d-flex align-items-center px-1">
                      관심있는 뉴스보기
                    </h6>
                    <a href="/about-us.html" class="dropdown-item border-radius-md">
                      <span>인기 뉴스보기</span>
                    </a>
                    <a href="/contact-us.html" class="dropdown-item border-radius-md">
                      <span>나라별 뉴스보기</span>
                    </a>
                    <a href="/author.html" class="dropdown-item border-radius-md">
                      <span>장르별 뉴스보기</span>
                    </a>
                    <h6 class="dropdown-header text-dark font-weight-bolder d-flex align-items-center px-1 mt-3">
                      현재 트랜드
                    </h6>
                    <a href="/sign-in.html" class="dropdown-item border-radius-md">
                      <span>연령별 관심 장르</span>
                    </a>
                  </div>
                  <div class="d-lg-none">
                    <h6 class="dropdown-header text-dark font-weight-bolder d-flex align-items-center px-1">
                      관심있는 뉴스보기
                    </h6>
                    <a href="/about-us.html" class="dropdown-item border-radius-md">
                      <span>인기 뉴스보기</span>
                    </a>
                    <a href="/contact-us.html" class="dropdown-item border-radius-md">
                      <span>나라별 뉴스보기</span>
                    </a>
                    <a href="/author.html" class="dropdown-item border-radius-md">
                      <span>장르별 뉴스보기</span>
                    </a>
                    <h6 class="dropdown-header text-dark font-weight-bolder d-flex align-items-center px-1 mt-3">
                      현재 트렌드
                    </h6>
                    <a href="/sign-in.html" class="dropdown-item border-radius-md">
                      <span>연령별 관심장르</span>
                    </a>
                  </div>
                </div>
              </li>
              <li class="nav-item dropdown dropdown-hover mx-2">
                <a class="nav-link ps-2 d-flex cursor-pointer align-items-center" id="dropdownMenuDocs"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="material-icons opacity-6 me-2 text-md">article</i>
                  Help
                  <img src="{{ ASSETS_ROOT }}/img/down-arrow-dark.svg" alt="down-arrow" class="arrow ms-auto ms-md-2">
                </a>
                <ul
                  class="dropdown-menu dropdown-menu-end dropdown-menu-animation dropdown-md dropdown-md-responsive mt-0 mt-lg-3 p-3 border-radius-lg"
                  aria-labelledby="dropdownMenuDocs">
                  <!--데스크탑-->
                  <div class="d-none d-lg-block">
                    <ul class="list-group">
                      <li class="nav-item list-group-item border-0 p-0">
                        <a class="dropdown-item py-2 ps-3 border-radius-md" target="_blank"
                          href="https://appseed.us/support">
                          <h6
                            class="dropdown-item border-radius-md d-flex justify-content-cente align-items-center p-0">
                            환경 설정</h6>
                        </a>
                      </li>
                      <li class="nav-item list-group-item border-0 p-0">
                        <a class="dropdown-item py-2 ps-3 border-radius-md" target="_blank"
                          href="https://www.creative-tim.com/learning-lab/bootstrap/overview/material-kit?AFFILIATE=128200">
                          <h6
                            class="dropdown-item border-radius-md d-flex justify-content-cente align-items-center p-0">
                            개발자 소개</h6>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <!--모바일-->
                  <div class="row d-lg-none">
                    <div class="col-md-12 g-0">
                      <a class="dropdown-item py-2 ps-3 border-radius-md" target="_blank"
                        href="https://appseed.us/support">
                        <h6
                          class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">
                          환경 설정</h6>
                      </a>
                      <a class="dropdown-item py-2 ps-3 border-radius-md" target="_blank"
                        href="https://www.creative-tim.com/learning-lab/bootstrap/overview/material-kit?AFFILIATE=128200">
                        <h6
                          class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">
                          개발자 소개</h6>
                      </a>
                    </div>
                  </div>
                </ul>
              </li>
              {% if request.user.is_authenticated %}
              <li class="nav-item ms-lg-auto">
                <a class="nav-link nav-link-icon me-2" href="{% url 'common:logout' %}">
                  <i class="fa fa-sign-out me-1"></i>
                  <p class="d-inline text-md z-index-1 font-weight-bold" data-bs-toggle="tooltip"
                    data-bs-placement="bottom" title="Sign OUT">Logout</p>
                </a>
              </li>
              {% else %}
              <li class="nav-item my-auto ms-3 ms-lg-0">
                <a href="{% url 'common:login' %}" target="_blank"
                  class="btn btn-sm bg-gradient-primary mb-0 me-1 mt-2 mt-md-0">로그인</a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
    </div>
  </div>
</div>